/* body */
body{
    height: 2400px;
    background-color: gainsboro;
}
@font-face {
    font-family: 'Gladiora'; 
    src: url('../src/gladiora-regular.ttf');
}
.img1{
    position: absolute;
    left: 0%;
    top: 0%;
    object-fit: cover;
    object-position: 0 0;
    height: 2500px;
    width: 100%;
}
.icon {
    position: absolute;
    left: 20px;
    top: 8px;
    width:200px;
    cursor: pointer;
}

/* menu bar atas */
.container {
    position: fixed;
    left: 0%;
    top: 0%;
    object-fit: cover;
    height: 110px;
    width: 100%;
    background-color: #0057BD;
    overflow: hidden;
    font-family: 'Gladiora';
}
.container a {
    float: right;
    text-align: center;
    padding: 15px 5px;
    margin-right: 15px;
    text-decoration: none;
    font-size: 15px;
    color: #faf9ed;
    cursor: pointer;
}
.container a:hover {
    color: #ff8210;
    font-weight: bold;
}
.container form {
    font-size: 15px;
    margin-top: 50px;
    margin-left: 300px;
}
.container form button{
    padding: 10px 16px;
    font-size: 16px;
    color: #faf9ed;
    background-color: #ff8210;
    border-color: transparent;
    border-radius: 0.5em;
    height: 45px;
    width: 50px;
    text-align: center;
    cursor: pointer;
}
.popup_box{
    font-family: 'Gladiora'; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
  }
  .popup_box{
    width: 400px;
    background: #f2f2f2;
    text-align: center;
    align-items: center;
    padding: 40px;
    border: 1px solid #b3b3b3;
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);
    z-index: 9999;
    display: none;
  }
  .popup_box label{
    font-size: 23px;
    color: #404040;
  }
  .popup_box .btns{
    margin: 40px 0 0 0;
  }
  .btns .btn1, .btns .btn2{
    text-decoration: none;
    background: #0057BD;
    color: white;
    border-radius: 5px;
  }
  .btns .btn1{
    padding: 10px;
  }
  .btns .btn2{
    padding: 10px 20px;
  }
  .btns .btn1:hover, .btns .btn2:hover{
    transition: .5s;
    background: #ff8210;
  }
  .x{
    position:relative;
    float:right;
    margin-top:-25px;
    margin-right:-20px;
    font-family: 'Gladiora';
    font-weight:bold;
    text-decoration:none;
    color: #404040;
    font-size: 25px;
  }

.dropdwn{
    position: fixed;
    top: 50px;
    left: 83%;
    display: inline-block;

    font-family: 'Gladiora';
}
.dropbtn{
    height: 40px;
    width: 150px;
    padding: 8px 10px;
    text-align: center;

    background-color: transparent;
    border:1.5px solid white;
    border-radius: 0.5em;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Gladiora';
}

.img{
    position: relative;
    top: -1px;

    border-radius: 50%;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0px;
    min-width: 150px;
    z-index: 1;

    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content a{
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
    
    color: black;
}
.dropdown-content a:hover {
    background-color: rgba(235, 235, 235, 0.822);
    text-decoration: none;
}
.dropdwn:hover .dropdown-content{
    display: block;
}
.dropdwn:hover .dropbtn{
    background-color: #0057BD;
}

/* tampilan produk */
.produk{
    background-color: transparent;
    position: absolute;
    top: 102%;
    left: 5%;
    width: 90%;
    overflow: hidden;
    font-family: 'Gladiora';

}
.newproduk{
    background-color: white;
    padding: 10px;
    height: 50px;
    width: 95%;
    margin: 10px;
    margin-left: 1%;

    border: 0.5px solid #a6a6a6;
    border-radius: 0.25em;
}
.newproduk h2{
    position: absolute;
    top: 15px;
    left:50%;
    transform: translateX(-50%);
}
.tampilanproduk{
    margin: 1%;
    width: 100%;
}
.list-produk{
    background-color: white;
    padding: 1%;
    float: left;
    height: 300px;
    width: 20%;
    margin: 1%;
    margin-top: 1%;
    cursor: pointer;

    border: 0.5px solid #a6a6a6;
    border-radius: 0.25em;
}
 
.list-produk:hover{
    transition-duration: 700ms;
    box-shadow: 0px 5px #ff8210;
    border: 1px solid #ff8210;
}
 
.list-produk img{
    width: 100%;
    height: 200px;
    display: block;
    margin-bottom: 5px;
}
 
.list-produk h4, .list-produk h5{
    color: #0057BD;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tombol{
    text-decoration: none;
    border-radius: 7px;
    padding: 7px;
    display: block;
    float: center;
    width: 45%;
    margin: 4px;
    text-align: center;
    color: white;
}
 
.tombol:hover{
    background-color: #ff8210;
    transition-duration: 700ms;
}
 
.tombol-beli{
    background-color: #0057BD;
}
.next{
    position: absolute;
    top: 322%;
    width: 99%;
    object-fit: cover;
}
.next button{
    width: 100px;
    height: 30px;

    background-color: #0057BD;
    color: white;
    border: transparent;
    border-radius: 0.5em;
    font-family: 'Gladiora';
    cursor: pointer;
}
.next button:hover{
    background-color: #024ca0;
}

/* tampilan atas */
.atas{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height:100%;
    object-fit: cover;

    font-family: 'Gladiora';
    background-color: white;

    border-bottom: 0.5px solid #a6a6a6;
}
.bannerkanan{
    position: absolute;
    margin-left: 20px;
    width: 380px;
    top: 0%;
    left: 100%;
}
.bannerkanan1{
    margin-bottom: 20px;
}
.mySlides {
    display: none;
}
img {
    vertical-align: middle;
}
.slideshow-container {
    width: 800px;
    position: relative;
    top: 20%;
    left: 5%;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.active {
    background-color: #ff8210;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
.menuicon{
    position: relative;
    left: 25%;
    top: 27%;
    background-color: #ff8210;
    margin-left:8px;
    width: 50%;
}
.iconshop{
    float: left;
    margin-left: 12.5%;

    padding: 15px 15px;
    border-radius: 2em;
    border: 2px solid #0057BD;
    cursor: pointer;
}
.laundry{
    float: left;
    margin-left: 9%;

    padding: 15px 15px;
    border-radius: 2em;
    border: 2px solid #0057BD;
    cursor: pointer;
}
.food{
    float: left;
    margin-left: 9%;

    padding: 15px 15px;
    border-radius: 2em;
    border: 2px solid  #0057BD;
    cursor: pointer;
}
.more{
    float: left;
    margin-left: 9%;

    padding: 15px 15px;
    border-radius: 2em;
    border: 2px solid  #0057BD;
    cursor: pointer;
}
.hovericon:hover{
    transition-duration: 50ms;
    border: 3px solid  #0057BD ;
}

/* tampilan bawah */
.bottom {
    position: absolute;
    top: 360%;
    height: 200px;
    left: 0%;
    width: 100%;
    overflow: hidden;
    font-family: 'Gladiora';   
    background-color: #0057BD;
    object-fit: cover;
}
.footer{
    font-size: 15px; 
    color: rgba(255, 255, 255, 0.466);
}
.botom1 a{
    overflow: hidden;
    padding: 15px 5px;
    margin-right: 15px;
    text-decoration: none;
    font-size: 15px;
    color: #faf9ed;
    cursor: pointer;
}
.botom1 a:hover {
    color: #ff8210;
    font-weight: bold;
}

.list{
    position: absolute;
    top: 330%;
    left: 0%;
    width: 100%;
    height: 30%;
    background-color: white;
    object-fit: cover;

    font-family: 'Gladiora';
}
.list a{
    color: rgb(142, 151, 161);
    text-decoration: none;
}
.list a:hover{
    color: rgb(125, 133, 143);
}
.list li{
    display: block;
}
.list-kiri{
    position: relative;
    top: 10px;
    left: 10%;
    float: left;
}
.list-tengah{
    position: relative;
    top: 10px;
    left: 15%;
    float: left;
}
.list-kanan{
    position: relative;
    top: 10px;
    left: 20%;
    float: left;
}